
 <!-- Application Info -->
 <!--<div class="col-sm-12 task-pane-section-small"></div>-->
 <!-- User Info -->
 <div class="col-sm-12 task-pane-section-small text-right name-section text-x-large">
   <a class="title-bar" href="report#" style="color: #3498db;"><span class="glyphicon glyphicon-user" style="margin-right: 10px;"></span>{{userFullName}}</a>
 </div>
 <!-- Select board -->
 <div class="col-sm-12 text-right" style="min-height: 30vh;">
   <label for="select-board" class="text-right text-medium">Select board &nbsp;<span class="glyphicon" [ngClass]="boardId !== undefined ? 'glyphicon-ok' : 'hidden'" style="color: chartreuse;"></span></label>
   <select class="form-control" [(ngModel)]="boardId" id="select-board">
     <option *ngFor="let board of boards" ngValue="{{board.id}}">{{board.name +  (board.location ? ' - ' + board.location.name : '')}}</option>
   </select>
 </div>

 <!-- Buttons -->
 <div class="col-sm-12 text-right">
     <div class="form-inline"><input type="checkbox" class="checkbox text-right" [(ngModel)]="testOnly" id="testOnly"><label for="testOnly">&nbsp;&nbsp;&nbsp;Test Only</label></div>

     <button class="btn btn-lg btn-primary action-button" [disabled]="boardId === undefined && !testOnly" (click)="loadSummary(boardId)">Show Summary</button>
 </div>

