/* You can add global styles to this file, and also import other style files */

.loader {
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #3498db; /* Blue */
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    margin-left: 430px;
    margin-top: -35px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.overlay {
    background-color: rgba(255,255,255,0.7);
    opacity: 0.5;
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    z-index:9999;
}
.width-5 {
    width: 5%;
}
.width-10 {
    width: 10%;
}
.width-15 {
    width: 15%;
}
.width-20 {
    width: 20%;
}
.width-30 {
    width: 30%;
}
.width-40 {
    width: 40%;
}
.width-50 {
    width: 50%;
}
.width-60 {
    width: 60%;
}
.width-70 {
    width: 70%;
}
.width-80 {
    width: 80%;
}
.width-90 {
    width: 90%;
}
.width-100 {
    width: 100%;
}
